* {
  border: 1px solid red;
  box-sizing: border-box;
}

body {
  border: 1px solid green;
}

.App {
  height: 100vh;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 5rem auto 2rem;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}